doctype html
html(lang="en")
  head
    title= "Photo Gallery"
    link(href='../css/styles.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet')
  body
    #container
      #topo
        img#logo(src='../img/logo.png' alt='Logo')
        ul#sprite_menu
          li#menu_home.active
            a(href='#') Home
          li#menu_about
            a(href='#') About
          li#menu_services
            a(href='#') Services
          li#menu_contact
            a(href='#') Contact
      h1 Photo Gallery
      p.
        This Photo Gallery is a collection of Beautiful nature pictures
        including many species of animals
      #gallery
    #modal_div
      img(id='modal_img' src='')
    script(src='../javascript/scripts.js')
