$pic_w: 157;
$pic_h: 113;
$pic_margin_real: 7;
$pic_margin: 5;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  margin:0px;
  padding:0px;
}
#footer {
  margin:55px auto 0px auto;
  padding:10px 0px 0px 0px;
  text-align:center;
  border-top:1px solid black;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:normal;
}
#pagination, #modal_div ul {
  margin:0px auto;
  padding:0px;
  text-align:center;
  list-style-type:none;
  li {
    cursor:pointer;
    float:left;
    margin:0px 0px 0px $pic_margin+px;
    padding:6px 0px 0px 0px;
    width:32px;
    height:26px;
    font-family:'Open Sans', sans-serif;
    font-size:12px;
    font-weight:bold;
    background-image:url(../img/sprite_buttons.png);
    background-repeat:no-repeat;
  }
  li:hover, li:focus {
    background-position: -33px 0px;
  }
  li:active, li.active {
    background-position: -33px -256px;
  }
}
#modal_div {
  position:fixed;
  top:0px;
  max-width:1600px;
  margin:10px auto;
  padding:10px;
  background-color:white;
  border:1px solid black;
	z-index: 101;
  img {
    width:100%;
  }
  ul {
    float:right;
    margin-bottom:10px;
  }
  h2 {
    float: left;
    margin:0px auto;
    padding:0px;
    font-family: 'Squada One', cursive;
    font-size:24px;
  }
}
#topo {
	z-index: 100;
}
h1 {
  font-family: 'Squada One', cursive;
	z-index: 99;
}
p {
  font-family: 'Open Sans', sans-serif;
	z-index: 98;
}
#container {
  max-width:785px;
  margin:10px auto;
  padding:0px;
}
#gallery {
  width:auto;
  margin:0px;
  padding:0px;
	z-index: 97;
  ul {
    height:(($pic_h+$pic_margin_real)*2)+px;
    margin:10px auto;
    padding:0px;
    list-style-type:none;
    font-size:0;
    overflow:hidden;
  }
  li {
    float:left;
    margin:0px $pic_margin+px $pic_margin+px 0px;
    padding:0px;
    border:1px solid black;
  }
}

#menu_icon {
  display:none;
  margin:25px 20px 0px 0px;
  width:40px;
  height:40px;
  float:left;
  background: #89A4B1 url(../img/menuicon.png) no-repeat;
  @include border-radius(5px);
}
#sprite_menu {
  margin:10px 0px 0px 0px;
  padding:0px 0px 0px 23px;
	width: 378px;
	height: 48px;
  float:right;
	background: url(../img/sprite_menu.gif) no-repeat;
  li {
    display: inline;
    margin:0px;
    padding:0px;
    a {
      background-image:url(../img/sprite_menu.gif);
      background-repeat:no-repeat;
    }
  }
  li a:link, li a:visited {
    float:left;
    height: 48px;
    text-indent: -9000px;
    overflow: hidden;
  }
  #menu_home {
    a:link, a:visited {
      left: 23px;
      width: 76px;
      background-position: -23px 0px;
    }
    a:hover, a:focus {
      background-position: -23px -49px;
    }
    a:active {
      background-position: -23px -98px;
    }
  }
  #menu_home.active a:link, #menu_home.active a:visited {
    background-position: -23px -147px;
    cursor: default;
  }
  #menu_about {
    a:link, a:visited {
      left: 99px;
      width: 82px;
      background-position: -99px 0px;
    }
    a:hover, a:focus {
      background-position: -99px -49px;
    }
    a:active {
      background-position: -99px -98px;
    }
  }
  #menu_about.active a:link, #menu_about.active a:visited {
    background-position: -99px -147px;
    cursor: default;
  }
  #menu_services {
    a:link, a:visited {
      left: 182px;
      width: 97px;
      background-position: -182px 0px;
    }
    a:hover, a:focus {
      background-position: -182px -49px;
    }
    a:active {
      background-position: -182px -98px;
    }
  }
  #menu_services.active a:link, #menu_services.active a:visited {
    background-position: -182px -147px;
    cursor: default;
  }
  #menu_contact {
    a:link, a:visited {
      left: 281px;
      width: 97px;
      background-position: -281px 0px;
    }
    a:hover, a:focus {
      background-position: -281px -49px;
    }
    a:active {
      background-position: -281px -98px;
    }
  }
  #menu_contact.active a:link, #menu_contact.active a:visited {
    background-position: -281px -147px;
    cursor: default;
  }
}

@mixin media_q($w) {
  @media screen and(max-width: ($w+$pic_w)+px) {
    #container {
      width: $w+px;
    }
    @if $w <= $pic_w*2 {
      #sprite_menu {
        display:none;
        float:left;
        margin:0px;
        padding:0px;
        background: none;
        width: 97px;
        height: 195px;
      }
      #sprite_menu.visible {
        display:block;
      }
      #menu_icon {
        display:block;
        @if $w == $pic_w {
          float:none;
        }
      }
      #logo {
        margin:0px auto;
        clear:none;
      }
      h1 {
        display: block;
        clear:both;
      }
    } @else if $w == $pic_w*3 {
      #sprite_menu {
        display:block;
        float:none;
        margin:10px auto;
      }
    } @else {
      #sprite_menu {
        display:block;
        float:right;
      }
    }
  }
}
@include media_q($pic_w*4);
@include media_q($pic_w*3);
@include media_q($pic_w*2);
@include media_q($pic_w);
