$pic_w: 157;
$pic_h: 113;
$pic_margin_real: 7;
$pic_margin: 5;

body {
  margin:0px;
  padding:0px;
}
#modal_div {
  position:fixed;
  top:0px;
  max-width:1600px;
  margin:10px auto;
  padding:10px;
  background-color:white;
  border:1px solid black;
	z-index: 101;
  img {
    width:100%;
  }
}
#topo {
	z-index: 100;
}
h1 {
  font-family: 'Squada One', cursive;
	z-index: 99;
}
p {
  font-family: 'Open Sans', sans-serif;
	z-index: 98;
}
#container {
  max-width:785px;
  margin:10px auto;
  padding:0px;
}
#gallery {
  width:auto;
  margin:0px;
  padding:0px;
	z-index: 97;
  ul {
    height:(($pic_h+$pic_margin_real)*2)+px;
    margin:10px auto;
    padding:0px;
    list-style-type:none;
    font-size:0;
    overflow:hidden;
  }
  li {
    float:left;
    margin:0px $pic_margin+px $pic_margin+px 0px;
    padding:0px;
    border:1px solid black;
  }
}

#sprite_menu {
  margin:10px 0px 0px 0px;
  padding:0px 0px 0px 23px;
	width: 378px;
	height: 48px;
  float:right;
	background: url(../img/sprite_menu.gif) no-repeat;
}
#sprite_menu li {
	display: inline;
  margin:0px;
  padding:0px;
}
#sprite_menu li a:link, #sprite_menu li a:visited {
	float:left;
	height: 48px;
	text-indent: -9000px;
	overflow: hidden;
}

#sprite_menu #menu_home a:link, #sprite_menu #menu_home a:visited {
  left: 23px;
  width: 76px;
  background: url(../img/sprite_menu.gif) no-repeat -23px 0px;
}
#sprite_menu #menu_home a:hover, #sprite_menu #menu_home a:focus {
  background: url(../img/sprite_menu.gif) no-repeat -23px -49px;
}
#sprite_menu #menu_home a:active {
  background: url(../img/sprite_menu.gif) no-repeat -23px -98px;
}
#sprite_menu #menu_home.active a:link, #sprite_menu #menu_home.active a:visited {
  background: url(../img/sprite_menu.gif) no-repeat -23px -147px;
  cursor: default;
}

#sprite_menu #menu_about a:link, #sprite_menu #menu_about a:visited {
  left: 99px;
  width: 82px;
  background: url(../img/sprite_menu.gif) no-repeat -99px 0px;
}
#sprite_menu #menu_about a:hover, #sprite_menu #menu_about a:focus {
  background: url(../img/sprite_menu.gif) no-repeat -99px -49px;
}
#sprite_menu #menu_about a:active {
  background: url(../img/sprite_menu.gif) no-repeat -99px -98px;
}
#sprite_menu #menu_about.active a:link, #sprite_menu #menu_about.active a:visited {
  background: url(../img/sprite_menu.gif) no-repeat -99px -147px;
  cursor: default;
}

#sprite_menu #menu_services a:link, #sprite_menu #menu_services a:visited {
  left: 182px;
  width: 97px;
  background: url(../img/sprite_menu.gif) no-repeat -182px 0px;
}
#sprite_menu #menu_services a:hover, #sprite_menu #menu_services a:focus {
  background: url(../img/sprite_menu.gif) no-repeat -182px -49px;
}
#sprite_menu #menu_services a:active {
  background: url(../img/sprite_menu.gif) no-repeat -182px -98px;
}
#sprite_menu #menu_services.active a:link, #sprite_menu #menu_services.active a:visited {
  background: url(../img/sprite_menu.gif) no-repeat -182px -147px;
  cursor: default;
}

#sprite_menu #menu_contact a:link, #sprite_menu #menu_contact a:visited {
  left: 281px;
  width: 97px;
  background: url(../img/sprite_menu.gif) no-repeat -281px 0px;
}
#sprite_menu #menu_contact a:hover, #sprite_menu #menu_contact a:focus {
  background: url(../img/sprite_menu.gif) no-repeat -281px -49px;
}
#sprite_menu #menu_contact a:active {
  background: url(../img/sprite_menu.gif) no-repeat -281px -98px;
}
#sprite_menu #menu_contact.active a:link, #sprite_menu #menu_contact.active a:visited {
  background: url(../img/sprite_menu.gif) no-repeat -281px -147px;
  cursor: default;
}

@mixin media_q($w) {
  @media screen and(max-width: ($w+$pic_w)+px) {
    #container {
      width: $w+px;
    }
    @if $w <= $pic_w*2 {
      #sprite_menu {
        display:block;
        float:left;
        margin:10px auto;
        background: none;
        width: 97px;
        height: 195px;
      }
      #logo {
        margin:0px auto;
        clear:none;
      }
      h1 {
        display: block;
        clear:both;
      }
    } @else if $w == $pic_w*3 {
      #sprite_menu {
        display:block;
        float:none;
        margin:10px auto;
      }
    } @else {
      #sprite_menu {
        display:block;
        float:right;
      }
    }
  }
}
@include media_q($pic_w*4);
@include media_q($pic_w*3);
@include media_q($pic_w*2);
@include media_q($pic_w);
